.contact_wrapper{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 50px 0;
    /* background: #1E1D28; */
    height: auto; }
.textField {
    width: 48%; }
.textField_1{
    width: 100%; }
.btn_group button {
    display: inline-block;
    padding: 10px 25px;
    color: #fff !important;
    transition: all .3s;
    border: none;
    outline: none;
    background-color: #00D747; }
.btn_group button:hover {
    background-color: #4D70A4;
}
.form_wrapper h2{
    font-weight: 600; }
 .textField label, .textField_1 label{
     font-weight: 500;
     color: #000;
     font-size: 14px;
    font-family: 'Poppins', sans-serif !important; }
.right_image img{
    width: 100%  !important;
    object-fit: cover;
    height: 60vh;
}
@media only screen and (max-width: 992px){
    .textField{
        margin-left: 0px !important;
        margin-top: 20px !important;
        width: 100% !important; }
}

@media only screen and (max-width: 360px) {
    .btn_group button{
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .right_image{
        display: none;
    }
    .textField_1{
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 1085px) {
    .textField{
        width: 100%;
        margin-left: 0px !important;
        margin-top: 20px !important;
    }
}

/* create card */


.contact_wrapper .card_info p{
    margin-top: 30px;
    padding: 12px;
    text-align: center;
    font-size: 14px; }
.contact_wrapper .card_image{
    display: flex;
    justify-content: center; }
.contact_wrapper .card_image img{
    width: 100px;
    cursor: pointer;
    height: 100px;
    transition: all .5s;
    border-radius: 50%; }
.contact_wrapper .card_image img:hover{
    border: 5px solid #00C752; }
.contact_wrapper .card_name h5{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700; }
.contact_wrapper .card_job p{
    margin-bottom: 40px;
    font-size: 14px; }
