.footer{
    font-family: 'Poppins', sans-serif;
    padding-top: 140px;
    padding-bottom: 50px;
    background: url('/images/footer.png');
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-size: cover;
    height: auto; }
.Footer_footer__317iK{
    width: 100% !important;
}
.footer .lists_name{
    font-weight: bold;
    font-size: 22px;
    color: #2d2d43;
    list-style: none; }
.footer li{
    line-height: 40px;
    list-style: none; }
.footer a{
    text-decoration: none !important;
    transition: all .5s;
    font-size: 16px !important;
    color: #2d2d43 !important; }
.footer a:hover{
    color: #00D747 !important;}
.footer .form .input{
    margin-top: 30px;
    background-color: transparent;
    border: none;
    padding: 8px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none; }
@media screen and (max-width: 360px) {
    .footer li {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; }
   .footer .input {
       margin-left: 45px !important; }
}
@media screen and (max-width: 576px){
    .footer li{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}