.col-md-4 {
    margin-bottom: 30px;
  }
  .card_title, .card_text{
    text-align: center;
  }
  .card {
    padding: 30px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    min-height: 310px;
    transition: all .4s ease-in-out;
    cursor: pointer; }
.card_top{
    font-weight: bold;
    padding-top: 60px;
   
    line-height: 40px;
    padding-bottom: 60px;
}
  .card:hover {
    box-shadow: 0px 16px 40px rgba(0, 0, 0, .2);  }
  .card_title {
    margin-top: 20px;
  }
  .card_text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  .card_text .fa {
    font-size: 26px;
  }
  .avatar {
    width: 140px;
    margin: auto;
  }
  .avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
  }
  .card:hover .avatar img {
    border-color: rgb(99, 204, 131);
  }
  
  .btn {
    border-radius: 25px;
  }
  
 @media only screen and (max-width: 576px) {
   .card{
    box-shadow: 0px 16px 40px rgba(0, 0, 0, .2);
   }
 }
 
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1040px;
    }
  }