/*Desktop View*/


.font_search{
  color: #fff;
  position: absolute;
  right: 14%;
  font-weight: bold !important;
  font-size: 40px;
}
.font_search:hover{
  color: #000;
}
@media screen and (max-width: 992px) {
  .img_1{
    position: absolute;
    z-index: 1002;
    top: 20px;
  }
  .img_2{
    position: absolute;
    z-index: 1003;
    top: 20px;
  }
}