.about{
    font-family: 'Poppins', sans-serif;
    padding-top: 40px; }
.about .blog_title h2 {
    font-weight: bold;
    font-size: 40px; }
.about .blog_info p{
    font-size: 14px;
    line-height: 25px; }