.MuiTabs_flexContainer{
    width: 100% !important;
    background-color: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif; }
.tab_panel{
    font-family: 'Poppins', sans-serif !important;
    padding-top: 100px;
    width: 100vw; }
.PrivateTabIndicator-colorSecondary-4{
    background-color: blue !important; }
.appLabel{
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important; }
.Right_courses_name p{
    font-size: 18px !important;
    line-height: 25px;
}
.Left_image img{
    width: 90%; }
.h1{
    font-weight: 700; }

.Right_Content{
    font-family: 'Poppins', sans-serif; }
.Right_title{
    font-weight: bold; }
.Right_description p{
    padding-top: 30px;
    padding-right: 30px;
    line-height: 25px;
    font-size: 18px !important;
    width: 90% !important; }
.Right_content_price p {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

}
@media screen and (max-width: 360px) {
    .h1{
        font-size: 30px !important;
        padding-left: 0 !important;
        text-align: center;
        font-weight: bold;
    }    
}
