.MuiTabs_flexContainer{
    width: 100% !important;
    background-color: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif; }
.tab_panel{
    font-family: 'Poppins', sans-serif !important;
    padding-top: 100px;
    width: 100vw; }

.appLabel{
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important; }

.Right_courses_name p{
    font-size: 16px !important;
    line-height: 25px;
}

.Left_image img{
    width: 90%; }
.h1{
    font-weight: 700; }

.Right_Content{
    font-family: 'Poppins', sans-serif; }
.Right_title{
    font-size: 16px;
    font-weight: bold; }
.Right_description p{
    padding-top: 30px;
    line-height: 25px;
    font-size: 16px !important;
    width: 100% !important; }
.Right_content_price p {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px; }
.Right_title .location{
    animation-name: sakrash;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transition: all .5s ease-out;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes sakrash {
    0%{
        transform: translateY(0px);
       
    }
    100%{
        transform: translateY(-10px);
        
    }
}

@media screen and (max-width: 360px) {
    .h1{
        font-size: 25px !important;
        padding-left: 0 !important;
        text-align: center;
        font-weight: bold;
    }    
}
@media screen and (max-width: 768px){
    .Right_description p{
        width: 100%;
        font-size: 13px  !important;
    }
    .Right_content_price p{
        font-size: 13px !important;
    }
    .Right_courses_name p{
        font-size: 13px !important;
    }
    .right_span{
        margin-left: 40px !important;
    }
    .h1{
        font-size: 25px !important;
        padding-left: 0 !important;
        text-align: center;
        font-weight: bold;
    }  
}
