.business_services{
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;}
.business_title{
    text-align: center; }
.business_title h2{
    font-weight: 700;
    padding-bottom: 30px;
    line-height: 40px; }
.business_title p{
    font-size: 14px;
    width: 80%;
    line-height: 25px;
    margin: auto; }
@media screen and (max-width: 992px){
    .business_title p{
        width: 100%;
        text-align: justify;
        text-justify: inter-word;
    }
}
@media only screen and (max-width: 576px) {
    .business_title h2{
        font-size: 20px;
        line-height: 1.5;
        text-align: justify;
        text-justify: inter-word;
    }
}