.business_services{
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;}
.business_title{
    text-align: center; }
.business_title h2{
    font-weight: 700;
    padding-bottom: 30px;
    line-height: 40px; }
.business_title p{
    font-size: 14px;
    width: 80%;
    line-height: 25px;
    margin: auto; }
@media screen and (max-width: 992px){
    .business_title p{
        width: 100%;
        text-justify: justify !important;
        text-justify: inter-word !important;
    }
}